// *********************
// COLORS
// *********************/

// Define Colors
$ucla-blue:				#347bad;
$iceland-blue:			#006699;
$mailbox-red:			#d40903;
$white:					rgba(255, 255, 255, 0.98);

// Define Color Pallete
// Consider using the defaults below or creating your own:
// https://robots.thoughtbot.com/controlling-color-with-sass-color-functions.
$primary:				$iceland-blue;
$primary-light:			tint($primary, 30%);
$primary-dark:			shade($primary, 82%);

$secondary: 			$mailbox-red;
$secondary-light: 		tint($secondary, 73% );
$secondary-dark: 		darken($secondary, 15% );

// Text Colors
$text-color:				rgba(black, .87);
$secondary-text-color:	rgba(black, .53);
$white-text-color:		white;
$link-color:				$secondary-light;
$link-hover-color:		$secondary;
$link-visited-color:		$secondary-dark;
$header-color:			$text-color;

// Other
$border-color:			rgba(black, .12);
$separator-color:		$secondary-light;
$background-color:		$primary-light;
$button-color:			$secondary-light;
$button-hover-color:		$secondary;
$btn-color:				$secondary-light;
$btn-hover-color:		$secondary;




$give-btn-color:			#3284be;
$give-btn-hover-color:	$primary;
$bullet-point:			$secondary;
$bg-light-color:			rgba(black, .03);
$bg-dark-color:			rgba(black, .06);

//	Numbers
//--------------------------------------*/

// Set height of hero on homepage
$home-hero-height: 		550px;

// Global border radius
$radius:				15px;

// Site width
$site-width:			940px;